/bin/
target/Musicus-0.0.1-SNAPSHOT.jar
target/classes/main/java/binarization/GTBinarization.class
target/classes/main/java/binarization/GTBinarization$CompareMode.class
target/classes/main/java/binarization/NiblackBinarization.class
target/classes/main/java/binarization/OtsuBinarization.class
target/classes/main/java/binarization/SauvoldaBinarization.class
target/classes/main/java/general/ClassificationE.class
target/classes/main/java/general/Color.class
target/classes/main/java/general/Color$1.class
target/classes/main/java/general/Color$Grayscale.class
target/classes/main/java/general/MusicalObject.class
target/classes/main/java/general/Objektausschnitt.class
target/classes/main/java/general/Pitch.class
target/classes/main/java/general/Point.class
target/classes/main/java/general/Staffline.class
target/classes/main/java/general/Staffline$1.class
target/classes/main/java/general/Tone.class
target/classes/main/java/interfaces/Binarization.class
target/classes/main/java/interfaces/Classification.class
target/classes/main/java/interfaces/ObjectFinder.class
target/classes/main/java/interfaces/Reconstruction.class
target/classes/main/java/interfaces/StafflineDetection.class
target/classes/main/java/interfaces/StafflineRemoval.class
target/classes/main/java/interfaces/SystemDetection.class
target/classes/main/java/objectdetection/FloodfillObjectdetection.class
target/classes/main/java/stafflinedetection/OrientationStafflineDetection.class
target/classes/main/java/stafflinedetection/ProjectionStafflineDetection.class
target/classes/main/java/stafflineremoval/BellissantStafflineRemoval.class
target/classes/main/java/stafflineremoval/ClarkeStafflineRemoval.class
target/classes/main/java/stafflineremoval/LinetrackingStafflineRemoval.class
target/classes/main/java/stafflineremoval/SimpleStafflineRemoval.class
target/classes/main/java/start/Globals.class
target/classes/main/java/start/MainThread.class
target/classes/main/java/start/Start.class
target/classes/main/java/systemdetection/FloodfillSystemDetection.class
target/classes/main/java/systemdetection/ProjectionDetection.class
target/classes/main/java/utils/ImageConverter.class
target/classes/main/java/utils/Util.class
target/classes/main/java/utils/UtilMath.class
target/maven-archiver/pom.properties
